/* Element selector that gives every p element a monospace font. */

#first {
  color: red;
}


h1 {
  color: whitesmoke;

}

body {
  background-color: black;
}

p {
  font-family: monospace;
  font-size:  150%;
  color:  white;
  background-color: lightskyblue;
}



/* Class selector that gives elements with this class a big bold style. */
.big {
  font-size: large;
  font-weight: bold;
}

/* ID selector that gives the element with this ID a red style. */
#boldly {
  color: red;
}