/* Element selector that gives every p element a monospace font. */


h1 {
  color: whitesmoke;

}

body {
  background-color: black;
}

p {
  font-family: monospace;
  font-size:  150%;
  color:  white;
  background-color: lightskyblue;
}


#first {
  color: mediumvioletred;
}


